body {
  height: 100vh;
}

.main {
  /* height: 100%; */
  background: url("../images/bg.png");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 0 50px 0;
}

/* Header */
.header {
  background-color: #9c8d7c;
  margin: 20px 0px;
  border-radius: 5px;
}

.header .logo {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.header h1 {
  text-align: center;
  font-size: 3rem;
}

.languages {
  margin: 10px 0;
  background-color: #fefefe;
  justify-content: space-around;
  width: 100px;
  border-radius: 10px;
}

.languages > * {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.languages .middle {
  background-color: #9c8d7c;
  border-radius: 6px;
}
.languages p {
  margin: auto;
}
.languages img {
  display: block;
  margin: auto;
}
.time {
  text-align: right;
}
.bolder {
  font-weight: 900;
  font-size: 1.4rem;
}
/* Options */

.option {
  background-color: #fefefe;
  padding: 10px 0px;
  border-radius: 15px;
  border: 1px solid gray;
}

.selected {
  background-color: #9c8d7c !important;
}

.option .inner {
  border: 1px solid gray;
  border-radius: 15px;
}

.option img {
  background-color: #fefefe;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Main-Box */

.main-box {
  padding: 20px 0px;
  background: #fefefe;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #743f02;
}
.main-box .inner {
  border-radius: 15px;
  border: 1px solid #743f02;
}

.lines {
  border-bottom: 4px double #333;
  border-top: 4px double #999;
  padding: 10px 0px;
}

/* Left Row */
.img-outer {
  background-color: #00c240;
  border-radius: 15px;
  padding: 0 5px;
}

.img-inner {
  background-color: #fefefe;
  border-radius: 15px;
  padding: 20px 0;
  border: 1px solid #ccc;
}
.main-box .left-row img {
  width: 200px;
  display: block;
  margin: auto;
  padding: 25px;
}
.left-row {
  padding: 20px;
}

/* Right Row */
.right-row {
  border-left: 1px solid #743f02;
  border-radius: 15px;
  padding: 50px;
}
.right-row .outer {
  border-radius: 5px;
  border: 1px solid #743f02;
  padding: 0 0 35px 0;
}

.right-row .inner {
  border-radius: 5px;
  border-right: none;
  border-left: none;
}

/* Footer */
footer {
  background: #9c8d7c;
}
.branding img {
  background-color: #fefefe;
  background: white;
  padding: 10px;
  border-radius: 5px;
}
.links-row {
  background: #fefefe;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}
.links-row a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.top-arrow {
  background-color: #00c240;
  padding: 15px 10px;
  border-radius: 5px;
}

/* Globals */
h1 {
  color: #fefefe;
}
h2 {
  color: #fefefe;
}

.brown-text {
  color: #743f02 !important;
}
.green {
  background-color: #00c240;
}
.green-text {
  color: #00c240 !important;
}
.green-darker-text {
  color: #539650 !important;
}
.orange {
  background-color: #ff9100;
}
.orange-text {
  color: #ff9100 !important;
}

.red {
  background-color: #ff5e00;
}
.red-text {
  color: #ff5e00 !important;
}
