body {
  height: 100vh;
}

.main {
  /* height: 85vh; */
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 0 50px 0;
}

/* Header */
.header {
  background-color: #9c8d7c;
  margin: 20px 0px;
  border-radius: 5px;
}

.header .logo {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}

.header h1 {
  text-align: center;
  font-size: 3rem;
}

.languages > * {
  background-color: #fefefe;
  margin: 5px 0;
  margin: auto;
}

/* Options */

.option {
  background-color: #fefefe;
  padding: 10px 0px;
  border-radius: 15px;
  border: 1px solid gray;
}

.selected {
  background-color: #9c8d7c !important;
}

.option .inner {
  border: 1px solid gray;
  border-radius: 15px;
}

.option img {
  background-color: #fefefe;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Main-Box */

.main-box {
  padding: 20px;
  background: #fefefe;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #743f02;
}
.main-box .inner {
  border-radius: 15px;
  border: 1px solid #743f02;
}

/* Left Row */
.img-outer {
  background-color: #00c240;
  border-radius: 15px;
  padding: 0 5px;
}

.img-inner {
  background-color: #fefefe;
  border-radius: 15px;
  padding: 20px 0;
  border: 1px solid #ccc;
}
.main-box .left-row img {
  width: 200px;
  display: block;
  margin: auto;
  padding: 25px;
}
.left-row {
  padding: 20px;
}

/* Right Row */
.right-row {
  border-left: 1px solid #743f02;
  border-radius: 15px;
  padding: 50px;
}
.right-row .outer {
  border-radius: 5px;
  border: 1px solid #743f02;
  padding: 0 0 35px 0;
}

.right-row .inner {
  border-radius: 5px;
  border-right: none;
  border-left: none;
}

/* Footer */
footer {
  background: #9c8d7c;
  height: 50px;
}

/* Globals */
h1 {
  color: #fefefe;
}
h2 {
  color: #fefefe;
}

.brown-text {
  color: #743f02;
}
.green {
  background-color: #00c240;
}

.orange {
  background-color: #ff9100;
}

.red {
  background-color: #ff5e00;
}
.red-text {
  color: #ff5e00;
}
